@model AgricultureManagementSystem.Models.Tractor

@{
    ViewData["Title"] = "Szczegóły traktora";
}

<h1>Szczegóły</h1>

<div>
    <h4>Traktor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Power)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Power)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FuelCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FuelCapacity)
        </dd>
    </dl>
</div>
<div>
    <div class="pb-3">
        <a class="btn btn-primary" asp-action="Index">Wróć do listy</a>
        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">Usuń</a>
    </div>
</div>
<div id="service-partial" class="mt-4">
    @{
        var routeParams = new Dictionary<string, string>
        {
            { "equipmentId", Model.Id.ToString() },
            { "equipmentType", ((int)EquipmentType.Tractor).ToString() }

        };
    }
    <h4>Czynności serwisowe</h4>
    <div>
        <a class="btn btn-success" asp-controller="Service"
           asp-action="Create" asp-all-route-data="routeParams">Dodaj</a>
    </div>
    <div class="mt-3">
        @if (Model.Services.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="align-middle border-bottom-0">
                            @Html.DisplayNameFor(model => model.Services[0].DateTime)
                        </th>
                        <th class="align-middle border-bottom-0">
                            @Html.DisplayNameFor(model => model.Services[0].ServiceType)
                        </th>
                        <th class="align-middle border-bottom-0">
                            @Html.DisplayNameFor(model => model.Services[0].ServiceDescription)
                        </th>
                        <th class="border-bottom-0"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in Model.Services
                        .OrderBy(s => s.DateTime))
                    {
                        <tr id="service-partial-@service.Id"
                            >
                            <td>
                                @Html.DisplayFor(modelItem => service.DateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => service.ServiceType)
                            </td>
                            <td class="multiline-text">@Html.DisplayFor(modelItem => service.ServiceDescription)</td>
                            <td class="btn-group-vertical">
                                <a class="btn btn-outline-warning btn-sm"
                                   asp-controller="Service"
                                   asp-action="Edit"
                                   asp-all-route-data="routeParams"
                                   asp-route-id="@service.Id">Edytuj</a>
                                <a class="btn btn-outline-danger btn-sm"
                                   asp-controller="Service"
                                   asp-action="Delete"
                                   asp-all-route-data="routeParams"
                                   asp-route-id="@service.Id">Usuń</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Brak danych serwisowych.</p>
        }
    </div>
</div>
<script>highlightServiceRow(window.location.hash.substring(17))</script>