@model IEnumerable<AgricultureManagementSystem.Models.Trailer>

@{
    ViewData["Title"] = "Lista przyczep";
}

<h1>Przyczepy</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Dodaj przyczepę</a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.ProductionYear)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.CurbWeight)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.CapacityKg)
                </th>
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.CapacityM3)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurbWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapacityKg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CapacityM3)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>W tej chwili nie ma żadnych elementów do wyświetlenia, kliknij przycisk dodaj nowy, aby dodać pierwszy element.</p>
}
