@model AgricultureManagementSystem.Models.Machine

@{
    ViewData["Title"] = "Szczegóły maszyny";
}

<h1>Szczegóły</h1>

<div>
    <h4>Maszyna</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductionYear)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.WorkingWidth)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WorkingWidth)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TypeOfMachine)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TypeOfMachine)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RequiredPower)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RequiredPower)
        </dd>
    </dl>
</div>
<div>
    <div class="pb-3">
        <a class="btn btn-primary" asp-action="Index">Wróć do listy</a>
        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">Usuń</a>
    </div>
</div>
<partial name="_ServicePartial" />